<nav class="vh-100 d-flex flex-column bg-secondary bg-gradient">
  <header class="border-bottom border-1">Menu</header>

  <body class="flex-grow-1 bg-secondary">
    <div class="list-group">
      <a
        routerLink="/"
        class="list-group-item list-group-item-action list-group-item-secondary"
      >
        <i class="fa-solid fa-house"></i>
        Home
      </a>

      <a
        routerLink="/orcamentos"
        class="list-group-item list-group-item-action list-group-item-secondary"
      >
        <i class="fa-solid fa-house"></i>
        Orçamentos
      </a>
    </div>
  </body>

  <footer>
    <span>footer</span>
  </footer>
</nav>
